.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
    position: static;
    width: auto;
    height: auto;
    overflow-y: auto;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.5715;
    text-align: left;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
    position: relative;
    padding: 10px 10px;
    overflow-wrap: break-word;
}