.App {
    text-align: center;
}

.App-logo {
    height: 18vmin;
    pointer-events: none;
}

.nav-logo {
    height: 6vmin;
    pointer-events: none;
}

.logo {
    width: 250px;
    height: 31px;
    float: left;
}

@media screen and (max-width: 600px) {
    .logo {
        width: 120px;
        height: 31px;
        float: left;
    }
}

@media screen and (max-width: 429px) {
    .logo {
        width: 60px;
        height: 31px;
        float: left;
    }
}

@media screen and (max-width: 368px) {
    .logo {
        width: 50px;
        height: 31px;
        float: left;
    }
}

@media screen and (max-width: 367px) {
    .logo {
        width: 40px;
        height: 31px;
        float: left;
    }
    .ant-menu-item, .ant-menu-submenu-title {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 315px) {
    .logo {
        width: 30px;
        height: 31px;
        float: left;
    }
    .ant-menu-item, .ant-menu-submenu-title {
        padding: 0px 7px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /* background-color: #282c34; */
    background-color: #f3f7f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}